* {
  margin: 0;
  padding: 0;
}

/*Barra de navegacion*/
nav {
  background-color: #f7cef2;
  color: white;
  font-size: 25px;
  display: flex;
  /*eje principal, solo se puede usar si el elemento es flex*/
  justify-content: space-between;
  /*eje secundario, solo se puede usar si el elemento es flex*/
  align-items: center;
  /*height es la altura que le doy verticalmente al cuadro invisible*/
  height: 80px;
  /*Distancia entre el borde de la caja y su contenido*/
  /* 
  padding: 20px; 20px en todas las direcciones
  padding: 20px 0; 20px arriba y abajo, 0 derecha izquierda
  padding: 20px 0 20px 0; 20px arriba, 0 derecha, 20px abajo, 0 izquierda
  */
  padding: 20px;
  /*
  Radio de los bordes, se lee arriba izquierda, arriba derecha,
  abajo izquierda, abajo derecha
  border-radius: 0 0 20px 20px;*/
}

/*
  nav div selecciona todos los divs dentro de nav
  nav > div selecciona solo los div hijos directos de nav
*/
nav div {
  display: flex;
  /*Espaciado entre los elementos de la fila o columna*/
  gap: 20px;
}

/*las pseudoclases manejan el estado de un elemento
:hover se activa cuando el mouse pasa por encima del elemento
:active se activa cuando el elemento es seleccionado
:visited se activa cuando el elemento es visitado
:link se activa cuando el elemento es un link
:first-child se activa cuando el elemento es el primer hijo de su padre
:last-child se activa cuando el elemento es el ultimo hijo de su padre
*/

nav div a:visited, nav div a:link {
  color: white;
  text-decoration: none;
  transition: all 1s ease;
}

#inicio:hover {
  color: blueviolet;
}

#introduccion:hover {
  color: rgb(0, 0, 12);
}
/* 
.enlace:hover {
  color: green;
}
*/
/*
nav div a {
  margin: 0 15px;
}
*/

main {
  background-color: black;
  background-image: linear-gradient(to right, #fea1d9, #cc85f1);
  display: flex;
  flex-direction: column;
  padding: 40px 20px 40px 20px;
}

/*
  GRID
  grid es un tipo de display que permite manejar
  un sistema de filas y columnas
*/

header {
  height: 80vh;
  min-height: 70vh;
  display: grid;
  background-color: rgb(181, 128, 230);
  background-image: url(https://i.pinimg.com/736x/90/13/3b/90133ba2d8d5a3a316d5376462bf0e63.jpg);
  background-size: cover;
  /* coloca todo lo seleccionado en transparente
  opacity: 0.2
  ;
  */
  border-radius: 25px;
  grid-template-columns: 1fr 1fr;
  /*
  en grid-template-columns: tambien se pueden 
  utilizar porcentajes como 50% 50%.
  */
  /*
  en grid-template-columns: tambien se puede 
  utilizar repeat(5, 1fr), esto para repetir
  5 veces una fraccion.
  */
  /*EJE PRINCIPAL*/
  justify-items: center;
  /*EJE SECUNDARIO*/
  align-content: center;
  gap: 20px;
  /*
  para definir la altura a cada cuadro de la 
  columna se utiliza la propiedad
  grid-template-rows: VALORpx;
  */
}

header > div, header > p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

/*ANIMACION*/
.gradient-background {
  background: linear-gradient(290deg,#ae37c8,#f312e4,#e5aae2,#d297f7);
  background-size: 240% 240%;
  animation: gradient-animation 12s ease infinite;
}

@keyframes gradient-animation {
  0% {background-position: 0% 50%;}
  50% {background-position: 100% 50%;}
  100% {background-position: 0% 50%;}
}