/*Barra de navegacion*/
nav {
  background-color: crimson ;
  color: white;
  font-size: 25px;
  display: flex;
}

/*
  nav div selecciona todos los divs dentro de nav
  nav > div selecciona solo los div hijos directos de nav
*/
nav div {
  display: flex;
}